@media print {
  #report-content {
    overflow: visible !important;
    height: fit-content !important;
    box-shadow: none !important;
    border: none !important;
  }

  .print-container {
    padding: 0 !important;
    margin: 0 !important;
  }

  body {
    margin: 0 !important;
    padding: 0 !important;
  }
}
